*{
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.maior img{
    height:400px;
    width: 450px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
    display: block;
}

.maior{
    display:inline-block;
    position: relative;
}

/*main{
    display:flex;
    flex-direction: row;
}*/

.medio img{
    height:185px;
    width:300px;
    align-items:inline-block;
    display:block;
    flex-direction: row;
    margin-left: 0;
    margin-top: 30px;
    margin-right: 10px; 
}

/*.medio2 img{
    height:200px;
    width: 300px;
    align-items: right;
    display:flex;
    flex-direction: row;
}*/


.medio3 img{
    height:185px;
    width: 300px;
    margin-left: 0;
    margin-top: 30px;
    display:flex;
}

.medio3{
    display: inline-block;
    align-items: top;
    position: relative;
}

/*.media4 img{
    height:200px;
    width: 300px;
    display:block;
}*/

.medio5 img{
    height:200px;
    width: 300px;
}

.media5 div{
    display:grid;
    grid-gap: 10px;
    grid-template-areas: "top top";
}

.container img{
    height: 200px;
    width: 500px;
}

